<% if (title){ %> 
    <h1><%= title %></h1> 
<% }else{
    res.redirect("/") <!-- Redirecting to the root URL if the 'title' variable is not defined -->
} %>
 
<%- messages() %> 
 
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
        <%  }) %>
    </ul>
<% } %>
 
<form action="/account/review/delete"  method="post" id="vehicledeleteForm">
    <label>Review Date:</label>
    <input type="text" name="review_date" value="<%- date %>" readonly required>
    <label>Review Text:</label>
    <textarea type="text" name="review_text" readonly required><%- reviewText %></textarea>
   
    <input type="hidden" name="inv_id" value="<%- inv_id %>">
 
    <input type="hidden" name="review_id" value="<%- review_id %>">
 
    <input type="hidden" name="account_id" value="<%- locals.accountData.account_id %>"><br><br>
 
    <button type="submit">Delete Review</button>
</form>